<%= link_to 'Retour aux terrains', terrains_path , class: 'btn btn-primary'%>
<br><br>
<%= form_for(terrain) do |f| %>
  <% if terrain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(terrain.errors.count, "error") %> prohibited this terrain from being saved:</h2>

      <ul>
      <% terrain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

    <div class="form-group">
      <%= f.label :category, "Catégorie" %>
      <%= f.select :category, options_for_select([["Brack.ch", "0"], ["Autres", "1"]], terrain.category) %>
    </div>

    <div class="field">
      <%= f.label :street %>
      <%= f.text_field :street %>
    </div>

    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div class="field">
      <%= f.label :zip %>
      <%= f.text_field :zip %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
