<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <%

    @users = User.all.order(:name)
    array = []
    temp = @users.select { |u| u.canrole == 'premiere'}
    array.push(temp)
    temp = @users.select { |u| u.canrole == 'm21'}
    array.push(temp)
    temp = @users.select { |u| u.canrole == 'm18'}
    array.push(temp)
    temp = @users.select { |u| u.canrole == 'm16'}
    array.push(temp)
    temp = @users.select { |u| u.canrole == 'm15'}
    array.push(temp)
    temp = @users.select { |u| u.canrole == 'fe14'}
    array.push(temp)
    temp = @users.select { |u| u.canrole == 'fe13'}
    array.push(temp)
    temp = @users.select { |u| u.canrole == 'fe12'}
    array.push(temp)
    temp = @users.select { |u| u.canrole == 'fe11'}
    array.push(temp)
    temp = @users.select { |u| u.canrole == 'fc10'}
    array.push(temp)
    temp = @users.select { |u| u.canrole == 'fc9'}
    array.push(temp)
    temp = @users.select { |u| u.canrole == 'fc8'}
    array.push(temp)
    temp = @users.select { |u| u.canrole == 'fc7'}
    array.push(temp)
    temp = @users.select { |u| u.canrole == 'archived'}
    array.push(temp)

    array.each do |groupusers|

    if groupusers.any?
  %>
  <Worksheet ss:Name="<%= groupusers.first.canrole %>">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Nom</Data></Cell>
        <Cell><Data ss:Type="String">Prénom</Data></Cell>
        <Cell><Data ss:Type="String">Anniversaire</Data></Cell>
        <Cell><Data ss:Type="String">Rôle</Data></Cell>
        <Cell><Data ss:Type="String">Niveau</Data></Cell>
        <Cell><Data ss:Type="String">Parents</Data></Cell>
        <Cell><Data ss:Type="String">Blessé</Data></Cell>
        <Cell><Data ss:Type="String">Suspendu</Data></Cell>
        <Cell><Data ss:Type="String">Ecole</Data></Cell>
        <Cell><Data ss:Type="String">Date d'arrivée</Data></Cell>
        <Cell><Data ss:Type="String">Date de fin de contrat</Data></Cell>
        <Cell><Data ss:Type="String">Nationalité</Data></Cell>
        <Cell><Data ss:Type="String">Téléphone</Data></Cell>
        <Cell><Data ss:Type="String">Adresse 1</Data></Cell>
        <Cell><Data ss:Type="String">Addresse 2</Data></Cell>
        <Cell><Data ss:Type="String">Code postal</Data></Cell>
        <Cell><Data ss:Type="String">Ville</Data></Cell>
        <Cell><Data ss:Type="String">Pays</Data></Cell>
        <Cell><Data ss:Type="String">Taille</Data></Cell>
        <Cell><Data ss:Type="String">Poids</Data></Cell>
        <Cell><Data ss:Type="String">Assurance</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Allergies</Data></Cell>
        <Cell><Data ss:Type="String">Medication</Data></Cell>
        <Cell><Data ss:Type="String">Contact mère</Data></Cell>
        <Cell><Data ss:Type="String">Contact père</Data></Cell>
        <Cell><Data ss:Type="String">#de frères/soeurs</Data></Cell>

      </Row>
      <% groupusers.each do |user| %>
          <Row>
            <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.surname %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.birthday %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.canrole %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.level %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.parents %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.injured %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.suspended %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.school %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.arriving_date %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.endcontrat_date %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.nationality %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.tel %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.address1 %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.address2 %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.zip %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.city %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.country %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.height %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.weight %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.insurance %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.status %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.allergies %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.medication %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.mothercontact %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.fathercontact %></Data></Cell>
            <Cell><Data ss:Type="String"><%= user.numberofsiblings %></Data></Cell>

          </Row>
      <% end %>
    </Table>
  </Worksheet>
  <%
    end
    end %>
</Workbook>