<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <% if (current_user.canrole == 'admin') %>

        <div class="form-group">
          <%= f.label :canrole, "Groupe d'utilisateurs" %>
          <br>
          <%= f.select :canrole, options_for_select([["Admin", "admin"], ["Staff", "staff"], ["Medical", "medical"], ["Première", "premiere"], ["M21", "m21"], ["M18", "m18"], ["M16", "m16"], ["M15", "m15"], ["FE14", "fe14"], ["FE13", "fe13"], ["FE12", "fe12"], ["FE11", "fe11"], ["FC10", "fc10"], ["FC9", "fc9"], ["FC8", "fc8"], ["FC7", "fc7"], ["Non défini", "undefined"]]) %>
        </div>


    <% end %>

  <div class="form-group">
    <%= f.label :surname %>
    <%= f.text_field :surname, class:'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control'  %>
  </div>

    <div class="form-group">
      <%= f.label :birthday, "Date de naissance" %><br>
      <%= f.date_field :birthday, :start_year => 1970, class: 'form-control' %>
    </div>


  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class:'form-control'  %>
  </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>
    </div>


  <div class="actions">
    <%= f.submit 'Enregistrer', class:'btn' %>
  </div>
<% end %>
