<% if notice %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
<% end %>

<div class="row">

  <div class="col-5">
    <div class="col-12">
      <div class="thumbnail">
        <% if @user.avatar.thumb.url!=nil %>
            <%= image_tag @user.avatar.url, class: 'img-fluid rounded mx-auto d-block img-thumbnail' %>
        <% end %>
        <div class="caption">
          <center><h3><%= @user.surname %> <%= @user.name %> <small>(<%= @user.level %>)</small></h3></center>
          <ul class="list-group">

            <li class="list-group-item"><%= @user.nationality %></li>
            <li class="list-group-item">
              <% if @user.injured==true %>
                  <i class="fa fa-user" aria-hidden="true"></i>&nbsp/&nbsp<i class="fa fa-medkit" aria-hidden="true" style="color: red;"></i>&nbsp/&nbsp<i class="fa fa-times" aria-hidden="true"></i>
              <% elsif @user.suspended==true %>
                  <i class="fa fa-user" aria-hidden="true"></i>&nbsp/&nbsp<i class="fa fa-medkit" aria-hidden="true"></i>&nbsp/&nbsp<i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
              <% else %>
                  <i class="fa fa-user" aria-hidden="true" style="color: green;"></i>&nbsp/&nbsp<i class="fa fa-medkit" aria-hidden="true"></i>&nbsp/&nbsp<i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </li>
            <a href="mailto:'<%= @user.email %>'" class="list-group-item list-group-item-action" style="color: blue !important;"><%= @user.email %></a>
            <li class="list-group-item"><%= @user.getnicedate(@user.birthday) %></li>
            <li class="list-group-item"><%= @user.tel %></li>
            <li class="list-group-item"><%= raw(@user.getaddress()) %></li>
          </ul>
          <br>
          <%= link_to 'Edit', users_edit_path(@user), class: 'btn btn-primary' %> |
          <%= link_to 'Back', users_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <% if( current_user.canviewplayer(@user.id)) %>
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item">Playtime: <%= @user.playtime %>'</li>
        <li class="list-group-item">Arriving date: <%= @user.getnicedate(@user.arriving_date) %></li>
        <li class="list-group-item">Endcontrat date: <%= @user.getnicedate(@user.endcontrat_date) %></li>
      </ul>
    </div>
        <% end %>
  </div>
  <% if( current_user.canviewplayer(@user.id)) %>

  <div class="col-7 thumbnail">

    <p>
      <strong>Role:</strong>
      <% if @user.role==1%>
          Gardien
      <% end %>
      <% if @user.role == 2%>
          Défenseur
      <% end %>
      <% if @user.role == 3%>
          Milieu
      <% end %>
      <% if @user.role == 4%>
          Attaquant
      <% end %>
    </p>
  <p>
      <strong>Physic char:</strong>
      <%= @user.physic_char %>
    </p>

    <p>
      <strong>Sportactivity archive:</strong>
      <%= @user.sportactivity_archive %>
    </p>


    <% if( current_user.canviewmedical(@user.id)) %>
    <p>
      <strong>Injury archive:</strong>
      <%= @user.injury_archive %>
    </p>
    <% end %>

    <p>
      <strong>Cards archive:</strong>
      <%= @user.cards_archive %>
    </p>

    <p>
      <strong>Parents:</strong>
      <%= @user.parents %>
    </p>

    <p>
      <strong>School:</strong>
      <%= @user.school %>
    </p>

    <p>
      <strong>School archive:</strong>
      <%= @user.school_archive %>
    </p>

  </div>

  <% end %>

</div> <!-- /.row -->