<script>
var $select = $('#input-tags').selectize({
plugins: ['remove_button'],
delimiter: ',',
    valueField: 'id',

    labelField: 'name',
    searchField: ['id'],
persist: false,
    options: [
        <%
          players = User.where(canrole: 'premiere')
          players.each do |player|
        %>
        {id: ' <%= player.id %>', name: '<%= player.getname() %>'},
        <% end %>


    ],
create: function(input) {
return {
value: input,
text: input
}
}
});


var selectize = $select[0].selectize;
//selectize.setValue(selectize.search("4").items[0].id);
//alert(selectize.search("5").items[0].id)
var selected_items = [];
<%

@event.subscriptions.each do |sub|
  print('selected_items.push(selectize.search("'+sub.user.id.to_s+'").items[0].id);')
  %>
<%= raw 'selected_items.push(selectize.search("'+sub.user.id.to_s+'").items[0].id);' %>

<%
 end

%>
//selected_items.push(selectize.search("5").items[0].id);
//selected_items.push(selectize.search("4").items[0].id);

selectize.setValue(selected_items);

</script>



<%= form_for(event) do |f| %>
  <%

    # event.begin = '09.09.2000 09:09'

    if event.errors.any?

  %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





  <div class="field">
    <%= f.label :begin , 'Début' %>
    <%=
      str = event.getdate(event.begin)
      f.datetime_local_field :begin, value: str
    %>
  </div>

  <div class="field">
    <%= f.label :end , 'Fin' %>
    <%=
      str = event.gettime(event.end)
    f.time_field :end, value: str
    %>
  </div>

  <div class="field">
    <%= f.label :name , 'Titre' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description , 'Description' %>
    <%= f.text_field :description %>
  </div>



  <div class="field">
    <%= f.label :eventtype, "Type d'évènement" %>
    <%=
      # f.text_field :eventtype
    %>
    <%= f.select :eventtype, options_for_select([["Match", "1"], ["Entrainement", "2"]], event.eventtype) %>
  </div>

    <div class="field">
    <label for="event_others">Membres</label>
    <input id="input-tags" name="others" type="text" >
    </div>

  <div class="actions">
    <%= f.submit 'Mettre à jour'%>
  </div>
<% end %>
