

<%= form_for(event) do |f| %>
  <%

    # event.begin = '09.09.2000 09:09'

    if event.errors.any?

  %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :begin %>
    <%=
      str = event.getdate(event.begin)
      f.datetime_local_field :begin, value: str
    %>
  </div>

  <div class="field">
    <%= f.label :end %>
    <%=
      str = event.getdate(event.end)
    f.datetime_local_field :end, value: str
    %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :eventtype %>
    <%=
      # f.text_field :eventtype
    %>
    <%= f.select :eventtype, options_for_select([["Match", "1"], ["Entrainement", "2"]], event.eventtype) %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
