<p id="notice"><%= notice %></p>

<p>
  <strong>Début:</strong>
  <%= @event.getnicedate(@event.begin) %>
</p>

<p>
  <strong>Fin:</strong>
  <%= @event.getnicedate(@event.end) %>
</p>

<p>
  <strong>Titre:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Type d'évènement:</strong>
  <span style="color: <%= @event.getcolor() %>;"><%= @event.geteventtype() %></span>
</p>

<p>
  <strong>Membres:</strong>
  <%
  @event.subscriptions.each do |sub|
  %>
      <%= link_to ('<u>'+sub.user.getname()+'</u>').html_safe, user_path(sub.user.id), class: 'blacklink' %>
  <%
    end
  %>
</p>

