<div style="text-align: center;">
  <h1>
    <% if @match.home %>
        <%= @match.équipe %> vs. <%= @match.adversaire.name %>
    <% else %>
        <%= @match.adversaire.name %> vs. <%= @match.équipe %>
    <% end %>
  </h1>
  <h2><%= Time.at(@match.when).strftime '%d/%m/%Y à %H:%M' %></h2>
  <p>
    <% if @match.home %>
        <img class="img-score" style="max-height:40px;" src="/images/logo_servettefc.png" alt="FC WIL">
    <% else %>
        <img src="<%= @match.adversaire.avatar %>" style="max-height:40px;">
    <% end %>

    <% if @match.home %>
        <%= @match.getteamscore() %> - <%= @match.getenemyscore() %>
    <% else %>
        <%= @match.getenemyscore() %> - <%= @match.getteamscore() %>
    <% end %>

    <% if !@match.home %>
        <img class="img-score" style="max-height:40px;" src="/images/logo_servettefc.png" alt="FC WIL">
    <% else %>
        <img src="<%= @match.adversaire.avatar %>" style="max-height:40px;">
    <% end %>
  </p>

  <%= link_to 'Retour aux matchs', matches_path, class: 'btn btn-primary' %>

  <bR><bR>
  <button id="showsimple" class="btn btn-success">Evenement simple</button>
  <%
    titulaires = []
    mains = []
    @match.matchlinks.each do |l|
      if l.thetype == 'titulaires' || l.thetype == 'remplacents'
        mains.push([l.user.getname(), l.user.id])
      end
    end
    if (!mains.blank?)
  %>
      <button id="showone" class="btn btn-success">Evenement 1 joueur</button>
      <button id="showtwo" class="btn btn-success">Evenement 2 joueurs</button>
  <% end %>
  <br><br>
  <div style="display: none;" id="simple">
    <%= form_for(@simple) do |f| %>

        <% if @simple.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@simple.errors.count, "error") %> prohibited this match from being saved:</h2>
              <ul>
                <% @simple.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row livescore">
          <!--<div class="col-4"></div>-->
            <div class="col-2">
              <div class="form-group">
                <%= f.label :temps, "Temps (min)" %>
                <%= f.text_field :temps, class: 'form-control', style: 'width: 100px;' %>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <%= f.label :commentaire, "Commentaire" %>
                <%= f.text_area :commentaire, class: 'form-control', style: 'width: 280px;' %>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <%= f.label :player, "Joueur" %>
                <%= f.text_field :player, class: 'form-control', style: 'width: 100px;' %>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <%= f.label :thetype, "Type" %>
                <%= f.select :thetype, options_for_select(["Aucun", "Corner", "Coup franc", "But Adversaire", "Carton Jaune Adversaire", "Carton Rouge Adversaire", "Echange Adversaire", "Sifflet", "Fin de match"], @simple.thetype) %>
              </div>
            </div>

              <div class="form-group">
                <%= f.hidden_field :match_id, :value => @match.id %>
              </div>
              <div class="actions">
                <%= f.submit 'Ajouter', :class => 'btn btn-primary' %>
              </div>
          </div>

    <% end %>

  </div>
  <div style="display: none;" id="one">
    <%= form_for(@one) do |f| %>

        <% if @one.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@one.errors.count, "error") %> prohibited this match from being saved:</h2>
              <ul>
                <% @one.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row livescore">
          <!--<div class="col-4"></div>-->
          <div class="col-12">
            <div class="form-group">
              <%= f.label :temps, "Temps (min)" %>
              <%= f.text_field :temps, class: 'form-control', style: 'width: 100px;' %>
            </div>
            <div class="form-group">
              <%= f.label :user_id, "Joueur" %>
              <%
                titulaires = []
                mains = []
                @match.matchlinks.each do |l|
                  if l.thetype == 'titulaires' || l.thetype == 'remplacents'
                    mains.push([l.user.getname(), l.user.id])
                  end
                end
              %>
              <%
                # @users = User.order(:name)
                # premiers = @users.select { |u| u.canrole == 'premiere' }
                # mains = []
                # premiers.each do |p|
                #   mains.push([p.getname(), p.id])
                # end

              %>
              <%= f.select :user_id, options_for_select(mains, @one.user_id) %>
            </div>
            <div class="form-group">
              <%= f.label :commentaire, "Commentaire" %>
              <%= f.text_area :commentaire, class: 'form-control', style: 'width: 280px;' %>
            </div>
            <div class="form-group">
              <%= f.label :thetype, "Type" %>
              <%= f.select :thetype, options_for_select(["But", "Carton Jaune", "Carton Rouge", "Passe", "Sortie"], @one.thetype) %>
            </div>

            <div class="form-group">
              <%= f.hidden_field :match_id, :value => @match.id %>
            </div>
            <div class="actions">
              <%= f.submit 'Ajouter', :class => 'btn btn-primary' %>
            </div>
          </div>
          <!--<div class="col-4"></div>-->
        </div>

    <% end %>
  </div>
  <div style="display: none;" id="two">
    <%= form_for(@two) do |f| %>

        <% if @two.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@two.errors.count, "error") %> prohibited this match from being saved:</h2>
              <ul>
                <% @two.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row livescore">
          <!--<div class="col-4"></div>-->
          <div class="col-12">
            <div class="form-group">
              <%= f.label :temps, "Temps (min)" %>
              <%= f.text_field :temps, class: 'form-control', style: 'width: 100px;' %>
            </div>

            <div class="form-group">
              <%= f.label :user_one_id, "Sortant/Butteur" %>
              <%
                titulaires = []
                mains = []
                @match.matchlinks.each do |l|
                  if l.thetype == 'titulaires' || l.thetype == 'remplacents'
                    mains.push([l.user.getname(), l.user.id])
                  end
                end
              %>
              <%
                # @users = User.order(:name)
                # premiers = @users.select { |u| u.canrole == 'premiere' }
                # mains = []
                # premiers.each do |p|
                #   mains.push([p.getname(), p.id])
                # end

              %>
              <%= f.select :user_one_id, options_for_select(mains, @two.user_one_id) %>
            </div>
            <div class="form-group">
              <%= f.label :user_two_id, "Entrant/Passeur" %>
              <%
                titulaires = []
                mains = []
                @match.matchlinks.each do |l|
                  if l.thetype == 'titulaires' || l.thetype == 'remplacents'
                    mains.push([l.user.getname(), l.user.id])
                  end
                end
              %>
              <%
                # @users = User.order(:name)
                # premiers = @users.select { |u| u.canrole == 'premiere' }
                # mains = []
                # premiers.each do |p|
                #   mains.push([p.getname(), p.id])
                # end

              %>
              <%= f.select :user_two_id, options_for_select(mains, @two.user_two_id) %>
            </div>
            <div class="form-group">
              <%= f.label :commentaire, "Commentaire" %>
              <%= f.text_area :commentaire, class: 'form-control', style: 'width: 280px;' %>
            </div>
            <div class="form-group">
              <%= f.label :thetype, "Type" %>
              <%= f.select :thetype, options_for_select(["Echange", "But"], @two.thetype) %>
            </div>

            <div class="form-group">
              <%= f.hidden_field :match_id, :value => @match.id %>
            </div>
            <div class="actions">
              <%= f.submit 'Ajouter', :class => 'btn btn-primary' %>
            </div>
          </div>
          <!--<div class="col-4"></div>-->
        </div>

    <% end %>
  </div>

  <table class="table table-striped	" style="text-align: left;">
    <thead>
    <th>
      Temps (min)
    </th>
    <th>
      Evenement
    </th>
    <th>
      Supprimer
    </th>
    </thead>
    <%
      @matchevents = @match.matchevents
      @matchevent1users = @match.matchevent1users
      @matchevent2users = @match.matchevent2users

      for i in (200).downto(-200) do
    %>

        <%
          @matchevents.each do |me|
            if me.temps == i
        %>
                <tr>
                  <td>
                    <%= i %>
                    <% if !me.getimg().blank? %>
                        <%= raw me.getimg() %>
                    <% end %>
                  </td>
                  <td>
                    <%= raw me.gettext() %>
                  </td>
                  <td>
                    <%= link_to 'Supprimer', delete_matchevents_path(id: me.id, matchid: @match.id), data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
                  </td>
                </tr>
            <% end end %>
        <%
          @matchevent1users.each do |me|
            if me.temps == i
        %>
                <tr>
                  <td>
                    <%= i %>
                    <% if !me.getimg().blank? %>
                        <%= raw me.getimg() %>
                    <% end %>

                  </td>
                  <td>
                    <%= raw me.gettext() %>
                  </td>
                  <td>
                    <%= link_to 'Supprimer', delete_matchevent1users_path(id: me.id, matchid: @match.id), data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
                  </td>
                </tr>
            <% end end %>
        <%
          @matchevent2users.each do |me|
            if me.temps == i
        %>
                <tr>
                  <td>
                    <%= i %>
                    <% if !me.getimg().blank? %>
                        <%= raw me.getimg() %>
                    <% end %>
                  </td>
                  <td>
                    <%= raw me.gettext() %>
                  </td>
                  <td>
                    <%= link_to 'Supprimer', delete_matchevent2users_path(id: me.id, matchid: @match.id), data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
                  </td>
                </tr>
            <% end end %>
    <% end %>
    <%
      @matchevents.each do |me|
        if me.temps.blank? || me.temps > 200
    %>
            <tr>
              <td>

                <% if !me.getimg().blank? %>
                    <%= raw me.getimg() %>
                <% end %>
              </td>
              <td>
                <%= raw me.gettext() %>
              </td>
              <td>
                <%= link_to 'Supprimer', delete_matchevents_path(id: me.id, matchid: @match.id), data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
              </td>
            </tr>
        <% end end %>
    <%
      @matchevent1users.each do |me|
        if me.temps.blank? || me.temps > 200
    %>
            <tr>
              <td>

                <% if !me.getimg().blank? %>
                    <%= raw me.getimg() %>
                <% end %>

              </td>
              <td>
                <%= raw me.gettext() %>
              </td>
              <td>
                <%= link_to 'Supprimer', delete_matchevent1users_path(id: me.id, matchid: @match.id), data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
              </td>
            </tr>
        <% end end %>
    <%
      @matchevent2users.each do |me|
        if me.temps.blank? || me.temps > 200
    %>
            <tr>
              <td>

                <% if !me.getimg().blank? %>
                    <%= raw me.getimg() %>
                <% end %>
              </td>
              <td>
                <%= raw me.gettext() %>
              </td>
              <td>
                <%= link_to 'Supprimer', delete_matchevent2users_path(id: me.id, matchid: @match.id), data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
              </td>
            </tr>
        <% end end %>
  </table>
</div>


<h2>Informations</h2>
<%= link_to 'Editer', edit_match_path(@match), class: 'btn btn-primary' %>

<p><b>Compétition :</b><%= @match.competition %></p>
<p><b>Saison :</b><%= @match.saison %></p>
<p><b>Terrain :</b><%= @match.terrain.name %></p>
<p><b>Spectateurs :</b><%= @match.spectateurs %></p>

<div class="row">
  <div class="col-md-6">
    <h3>Home</h3>
    <p><b>Home Entraineur : </b><%= @match.homeentrainer %></p>
    <p><b>Home Titulaires : </b>


      <%
        all = []
        @match.matchlinks.each do |l|
          if l.thetype == 'titulaires' %>
              <% all.push(l.user) %>
          <% end %>
      <% end %>
      <% @match.orderplayers(all).each do |l| %>
          <br><%= l.getname() %>
      <% end %>
    </p>
    <p><b>Home Remplancants : </b>
      <%
        all = []
        @match.matchlinks.each do |l|
          if l.thetype == 'remplacents' %>
              <% all.push(l.user) %>
          <% end %>
      <% end %>
      <% @match.orderplayers(all).each do |l| %>
          <br><%= l.getname() %>
      <% end %>
    </p>
    <p><b>Home Absents : </b>
      <%
        all = []
        @match.matchlinks.each do |l|
          if l.thetype == 'absents' %>
              <% all.push(l.user) %>
          <% end %>
      <% end %>
      <% @match.orderplayers(all).each do |l| %>
          <br><%= l.getname() %>
      <% end %>
    </p>
  </div>
  <div class="col-md-6">

    <h3>Away</h3>
    <p><b>Away Entraineur : </b><%= @match.awayentrainer %></p>
    <p><b>Away Titulaires : </b><br><%= raw @match.getbrs(@match.awaytitulaires) %></p>
    <p><b>Away Remplancants : </b><br><%= raw @match.getbrs(@match.awayremplacants) %></p>
    <p><b>Away Absents : </b><br><%= raw @match.getbrs(@match.awayabsents) %></p>
    <p id="notice"><%= notice %></p>
  </div>
</div>


<script>
    $(document).ready(function () {
        $("#showsimple").click(function () {
            $("#simple").slideToggle();
            $("#one").hide();
            $("#two").hide();
        });
        $("#showone").click(function () {
            $("#one").slideToggle();
            $("#simple").hide();
            $("#two").hide();
        });
        $("#showtwo").click(function () {
            $("#two").slideToggle();
            $("#one").hide();
            $("#simple").hide();
        });
    });
</script>