<h3 class="titre text-grenat">Prochains matchs</h3>
<div class="row justify-content-center">

  <%

    matches = Match.all.select { |u| u.when > Time.now.to_i }
    matches = matches.sort_by &:when

  %>

  <% if !matches[0].blank?
       match = matches[0]
  %>
      <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb">
        <div class="card card-ext">
          <div class="card text-center grad no-border-r border-dark card-match" style="width: 100%;">
            <div class="row row-score">
              <div class="col-6 img-domicile aligner servette">
                <% if match.home %>
                    <img class="img-score" src="https://www.servette.biz/images/logo_servettefc.png" alt="FC WIL">
                <% else %>
                    <img class="img-score logoadversaire-prochainmatch" src="<%= match.adversaire.avatar %>" alt="SFC">
                <% end %>
              </div>
              <div class="col-6 img-visiteur aligner">
                <% if !match.home %>
                    <img class="img-score" src="https://www.servette.biz/images/logo_servettefc.png" alt="FC WIL">
                <% else %>
                    <img class="img-score logoadversaire-prochainmatch" src="<%= match.adversaire.avatar %>" alt="SFC">
                <% end %>
              </div>
            </div>
            <div class="card-block no-pb">
              <h4 class="card-title text-gold versus">
                <% if match.home %>
                    <%= match.équipe %> - <%= match.adversaire.name %>
                <% else %>
                    <%= match.adversaire.name %> - <%= match.équipe %>
                <% end %>
              </h4>
              <p class="card-text text-white text-s"><%= Time.at(match.when).strftime '%d/%m/%Y' %>
                <br/><%= Time.at(match.when).strftime '%H:%M' %></p>
            </div>
            <% if match.home %>
                <div class="card-footer card-match-footer no-border">
                  <a href="https://www.eventimsports.de/ols/sfc/fr" class="btn btn-primary bouton-billets">Acheter
                    des Billets</a>
                </div>
            <% else %>
                <span class="nothomespace"></span>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>


  <% if !matches[1].blank?
       match = matches[1]
  %>
      <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb">
        <div class="card card-ext">
          <div class="card text-center grad no-border-r border-dark card-match" style="width: 100%;">
            <div class="row row-score">
              <div class="col-6 img-domicile aligner servette">
                <% if match.home %>
                    <img class="img-score" src="https://www.servette.biz/images/logo_servettefc.png" alt="FC WIL">
                <% else %>
                    <img class="img-score logoadversaire-prochainmatch" src="<%= match.adversaire.avatar %>" alt="SFC">
                <% end %>
              </div>
              <div class="col-6 img-visiteur aligner">
                <% if !match.home %>
                    <img class="img-score" src="https://www.servette.biz/images/logo_servettefc.png" alt="FC WIL">
                <% else %>
                    <img class="img-score logoadversaire-prochainmatch" src="<%= match.adversaire.avatar %>" alt="SFC">
                <% end %>
              </div>
            </div>
            <div class="card-block no-pb">
              <h4 class="card-title text-gold versus">
                <% if match.home %>
                    <%= match.équipe %> - <%= match.adversaire.name %>
                <% else %>
                    <%= match.adversaire.name %> - <%= match.équipe %>
                <% end %>
              </h4>
              <p class="card-text text-white text-s"><%= Time.at(match.when).strftime '%d/%m/%Y' %>
                <br/><%= Time.at(match.when).strftime '%H:%M' %></p>
            </div>
            <% if match.home %>
                <div class="card-footer card-match-footer no-border">
                  <a href="https://www.eventimsports.de/ols/sfc/fr" class="btn btn-primary bouton-billets" target="_blank">Acheter
                    des Billets</a>
                </div>
            <% else %>
                <span class="nothomespace"></span>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>


  <% if !matches[2].blank?
       match = matches[2]
  %>
      <div class="col-4 col-xl-4 col-lg-4 nodisplaymobile mb">
        <div class="card card-ext">
          <div class="card text-center grad no-border-r border-dark card-match" style="width: 100%;">
            <div class="row row-score">
              <div class="col-6 img-domicile aligner servette">
                <% if match.home %>
                    <img class="img-score" src="https://www.servette.biz/images/logo_servettefc.png" alt="FC WIL" target="_blank">
                <% else %>
                    <img class="img-score logoadversaire-prochainmatch" src="<%= match.adversaire.avatar %>" alt="SFC">
                <% end %>
              </div>
              <div class="col-6 img-visiteur aligner">
                <% if !match.home %>
                    <img class="img-score" src="https://www.servette.biz/images/logo_servettefc.png" alt="FC WIL">
                <% else %>
                    <img class="img-score logoadversaire-prochainmatch" src="<%= match.adversaire.avatar %>" alt="SFC">
                <% end %>
              </div>
            </div>
            <div class="card-block no-pb">
              <h4 class="card-title text-gold versus">
                <% if match.home %>
                    <%= match.équipe %> - <%= match.adversaire.name %>
                <% else %>
                    <%= match.adversaire.name %> - <%= match.équipe %>
                <% end %>
              </h4>
              <p class="card-text text-white text-s"><%= Time.at(match.when).strftime '%d/%m/%Y' %>
                <br/><%= Time.at(match.when).strftime '%H:%M' %></p>
            </div>
            <% if match.home %>
                <div class="card-footer card-match-footer no-border">
                  <a href="https://www.eventimsports.de/ols/sfc/fr" class="btn btn-primary bouton-billets" target="_blank">Acheter
                    des Billets</a>
                </div>
            <% else %>
                <span class="nothomespace"></span>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>

</div>

<h1 class="titre text-grenat">Calendrier</h1>


<table class="table table-striped table-sm calendrier">


  <tbody>
  <% @matches.each do |match| %>
      <tr>
        <td><%= Time.at(match.when).strftime '%d/%m/%y' %></td>
        <td><%= Time.at(match.when).strftime '%H:%M' %></td>
        <td><img src="<%= match.getcoupe() %>" class="coupeimage"></td>
        <td>
          <% if match.home %>
              <%= match.équipe %>
          <% else %>
              <%= match.adversaire.name %>
          <% end %>
        </td>
        <td>
          <% if !match.home %>
              <%= match.équipe %>
          <% else %>
              <%= match.adversaire.name %>
          <% end %>
        </td>
        <td>
          <span class="<%= match.gethomewin() %>">
          <% if match.home %>
              <%= match.getteamscore() %> - <%= match.getenemyscore() %>
          <% else %>
              <%= match.getenemyscore() %> - <%= match.getteamscore() %>
          <% end %>
          </span>

        </td>
        <td class="colbillets">
          <% if match.home %>
              <div class="card-footer card-match-footer no-border">
                <% if match.when >  Time.now.to_i %>
                    <a href="https://www.eventimsports.de/ols/sfc/fr" class="btn btn-primary bouton-billets" target="_blank">Billets</a>
                <% end %>
              </div>
          <% else %>
              <span class="nothomespace"></span>
          <% end %>
        </td>
        <td>
          <% if !match.photos.blank? %>
              <a href="<%= match.photos %>"><i class="fa fa-camera" aria-hidden="true"></i></a>
          <% end %>
          <% if !match.videos.blank? %>
              <a href="<%= match.videos %>"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
          <% end %>
          <% if !match.compterendu.blank? %>
              <a href="<%= match.compterendu %>"><i class="fa fa-file-text" aria-hidden="true"></i></a>
          <% end %>
          <a href="index.php/match?gameid=<%= match.id %>"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


