<div class="row">
  <div class="col-12 col-xl-8 col-lg-8 col-md-12 col-sm-12 mb">
    <h3 class="titre text-grenat">Effectif</h3>
    <table class="table table-striped table-hover">
      <tbody class="effectif">
      <%
        users = User.order(:name)
        users = users.select { |u| u.isplayer(u.id) == true }
        players = users.select { |u| u.canrole == 'premiere' }
        players.each do |player|
      %>
          <tr>
            <td>#<%= player.level %></td>
            <td><a href="joueur.php?player_id=508" class="link_grenat"><%= player.getname() %></a></td>
            <td>
              <% roles = ['Gardien', 'Défenseur', 'Milieu', 'Attaquant'] %>
              <% if !player.role.blank? %>
                  <%= roles[player.role-1] %>
              <% end %></td>
            <td><%= Time.at(player.birthday.to_time.to_i).strftime '%d.%m.%Y' %></td>
            <td><%= player.nationality %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>