<div class="row">
  <div class="col-12 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-left">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-12 col-lg-12 col-md-7 col-sm-9 mb">
        <h3 class="titre-2 text-grenat">Meilleur buteur</h3>
        <div class="grad stats">
          <% temp = User.new
             i = 0
             temp.getbestgoalers().each do |player| %>
              <% if i < 5 %>
                  <p class="card-text"><b><%= User.find(player[0]).getname() %></b>  <%= player[1] %> but(s)</p>
              <% end %>
              <% i = i+1 %>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-xl-12 col-lg-12 col-md-7 col-sm-9 mb">
        <h3 class="titre-2 text-grenat">Meilleur passeur</h3>
        <div class="grad stats">
          <% temp = User.new
             i = 0
             temp.getbestassists().each do |player| %>
              <% if i < 5 %>
                  <p class="card-text"><b><%= User.find(player[0]).getname() %></b>  <%= player[1] %> passe(s)</p>
              <% end %>
              <% i = i+1 %>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-xl-12 col-lg-12 col-md-7 col-sm-9 mb">
        <h3 class="titre-2 text-grenat">Temps de jeu</h3>
        <div class="grad stats">
          <% temp = User.new
             i = 0
             temp.getbesttimers().each do |player| %>
              <% if i < 5 %>
                  <p class="card-text"><b><%= User.find(player[0]).getname() %></b>  <%= player[1] %> minutes</p>
              <% end %>
              <% i = i+1 %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-8 col-lg-8 col-md-12 col-sm-12 mb">
    <h3 class="titre text-grenat">Effectif</h3>
    <table class="table table-striped table-hover">
      <tbody class="effectif">
      <%
        @users = User.order(:name)
        @users1 = @users.select { |u| u.canrole == 'premiere'  && u.role == 1}
        @users2 = @users.select { |u| u.canrole == 'premiere'  && u.role == 2}
        @users3 = @users.select { |u| u.canrole == 'premiere'  && u.role == 3}
        @users4 = @users.select { |u| u.canrole == 'premiere'  && u.role == 4}
        @users5 = @users.select { |u| u.canrole ==  'premiere'  && u.role.blank?}
        players = @users1 +@users2 + @users3 + @users4+ @users5
        players.each do |player|
      %>
          <tr>
            <td>#<%= player.level %></td>
            <%
              if !player.alias.blank?
                @tempalias = player.alias
              else
                @tempalias = player.surname+'-'+player.name
              end
            %>
            <td><a href="index.php/<%= @tempalias.downcase %>" class="link_grenat"><%= player.getname() %></a></td>
            <td>
              <% roles = ['Gardien', 'Défenseur', 'Milieu', 'Attaquant'] %>
              <% if !player.role.blank? %>
                  <%= roles[player.role-1] %>
              <% end %></td>
            <td>
              <% if !player.birthday.blank? %>
                  <%= Time.at(player.birthday.to_time.to_i).strftime '%d.%m.%Y' %>
              <% end %>
            </td>
            <td><%= player.nationality %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>