<%

  matches = Match.all.select { |u| u.when > Time.now.to_i }
  matches = matches.sort_by &:when

  if !matches.empty?
    match = matches[0]
    if match.live
      if !matches[1].blank?
        match = matches[1]
      else
        match = ''
      end
    end
  end

%>

<% if !match.blank? %>

    <div class="card card-ext">
      <div class="card-header text-gold card-titre titre">
        Prochain match
      </div>
      <div class="card text-center grad no-border-r border-dark card-match">
        <div class="row row-score">
          <div class="col-6 img-domicile aligner servette">
            <% if match.home %>
                <img class="img-score" src="https://www.servette.biz/images/logo_servettefc.png" alt="FC WIL">
            <% else %>
                <img class="img-score logoadversaire-prochainmatch" src="<%= match.adversaire.avatar %>" alt="SFC">
            <% end %>
          </div>
          <div class="col-6 img-visiteur aligner">
            <% if !match.home %>
                <img class="img-score" src="https://www.servette.biz/images/logo_servettefc.png" alt="FC WIL">
            <% else %>
                <img class="img-score logoadversaire-prochainmatch" src="<%= match.adversaire.avatar %>" alt="SFC">
            <% end %>
          </div>
        </div>
        <div class="card-block no-pb">
          <h4 class="card-title text-gold versus">
            <a href="index.php/match?gameid=<%= match.id %>"  class="teamlink">
            <% if match.home %>
                <%= match.équipe %> - <%= match.adversaire.name %>
            <% else %>
                <%= match.adversaire.name %> - <%= match.équipe %>
            <% end %>
            </a>
          </h4>
          <p class="card-text text-white text-s"><%= Time.at(match.when).strftime '%d/%m/%Y' %><br/><%= Time.at(match.when).strftime '%H:%M' %></p>
        </div>
        <% if match.home %>
        <div class="card-footer card-match-footer no-border">
          <a href="https://www.eventimsports.de/ols/sfc/fr" class="btn btn-primary bouton-billets" target="_blank">Acheter des Billets</a>
        </div>
        <% else %>
            <span class="nothomespace"></span>
        <% end %>
      </div>
    </div>


<% end %>