<%

  matches = Match.all.select { |u| u.when > Time.now.to_i }
  matches = matches.sort_by &:when


%>

<a href="index.php/saison/calendrier">
  <h3 class="titre text-grenat">Prochains matchs</h3>
</a>
<div class="row">
  <% if !matches[0].blank?
       match = matches[0] %>
      <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6 row-prochains-matchs-1">
        <div class="card text-center border-dark no-border-r text-gold grad">
          <div class="card-block text-gold">
            <p class="prochains-matchs-small">
              <strong><%= Time.at(match.when).strftime '%d/%m/%Y' %></strong><br/><%= Time.at(match.when).strftime '%H:%M' %>
            </p>
            <h4 class="card-title">
              <img class="img-team" src="<%= match.adversaire.avatar %>">
            </h4>
            <a href="index.php/match?gameid=<%= match.id %>" class="teamlink">
              <p class="prochains-matchs-small fixed-h"><%= match.adversaire.name %></p>
            </a>
            <% if match.home %>
                <a href="https://www.eventimsports.de/ols/sfc/fr" class="btn btn-primary bouton-billets" target="_blank">Billets</a>
            <% else %>
                <span class="nothomespace"></span>
            <% end %>
            <p class="stade prochains-matchs-small"><%= match.terrain.name %></p>
          </div>
        </div>
      </div>
  <% end %>
  <% if !matches[1].blank?
       match = matches[1] %>
      <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6 row-prochains-matchs-2">
        <div class="card text-center no-border-r text-gold grey">
          <div class="card-block">
            <p class="prochains-matchs-small">
              <strong><%= Time.at(match.when).strftime '%d/%m/%Y' %></strong><br/><%= Time.at(match.when).strftime '%H:%M' %>
            </p>
            <h4 class="card-title">
              <img class="img-team" src="<%= match.adversaire.avatar %>">
            </h4>
            <a href="index.php/match?gameid=<%= match.id %>" class="teamlink">
              <p class="prochains-matchs-small fixed-h"><%= match.adversaire.name %></p>
            </a>
            <% if match.home %>
                <a href="https://www.eventimsports.de/ols/sfc/fr" class="btn btn-primary bouton-billets" target="_blank">Billets</a>
            <% else %>
                <span class="nothomespace"></span>
            <% end %>
            <p class="stade prochains-matchs-small"><%= match.terrain.name %></p>
          </div>
        </div>
      </div>
  <% end %>
  <% if !matches[2].blank?
       match = matches[2] %>
      <div class="col-6 col-xl-4 col-lg-6 col-md-6 col-sm-6 row-prochains-matchs-3">
        <div class="card text-center no-border-r text-gold grey">
          <div class="card-block">
            <p class="prochains-matchs-small">
              <strong><%= Time.at(match.when).strftime '%d/%m/%Y' %></strong><br/><%= Time.at(match.when).strftime '%H:%M' %>
            </p>
            <h4 class="card-title">
              <img class="img-team" src="<%= match.adversaire.avatar %>">
            </h4>
            <a href="index.php/match?gameid=<%= match.id %>" class="teamlink">
              <p class="prochains-matchs-small fixed-h"><%= match.adversaire.name %></p>
            </a>
            <% if match.home %>
                <a href="https://www.eventimsports.de/ols/sfc/fr" class="btn btn-primary bouton-billets" target="_blank">Billets</a>
            <% else %>
                <span class="nothomespace"></span>
            <% end %>
            <p class="stade prochains-matchs-small"><%= match.terrain.name %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>
<a href="index.php/saison/calendrier" class="link plus">Voir plus...</a>