<% params[:alias] %>

<% @player = User.find_by(alias: params[:alias])

   if @player.blank?
     User.all.each do |u|
       print (u.surname+'-'+u.name).downcase
       if (u.surname+'-'+u.name).downcase == params[:alias]
         @player = u
       end
     end

   end
%>

<% if !@player.blank? %>
    <% @player.getname() %>




<div class="mb header">
  <img src="images/calendrier.jpg" alt="team" class="img-header">
  <div class="overlay-uni"></div>
  <div class="header-caption d-none d-md-block text-left">
    <em>
      <h1 class="title-header">
        <span style="font-size: 80px;"><%= @player.getname() %></span>
      </h1>
      <h2 class="subtitle-header">
        <% roles = ['gardien', 'défenseur', 'milieu', 'attaquant'] %>
        <% if !@player.role.blank? %>
            <%= roles[@player.role-1] %>
        <% end %>
      </h2>
    </em>
  </div>
</div>
<div class="container-fluid mb">
  <div class="row player-content">
    <div class="col-12 col-xl-9 col-lg-9 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <div class="row row-infos-joueur">
            <div class="col-12 " align="center">
              <div class="joueur grad">
                <img src="<%= @player.avatar %>" alt="<%= @player.surname %>" class="img-player">
                <p class="text-player">
                  <%= @player.getname() %>
                </p>
                <p class="text-player text-s">
                  <% roles = ['Gardien', 'Défenseur', 'Milieu', 'Attaquant'] %>
                  <% if !@player.role.blank? %>
                      <%= roles[@player.role-1] %>
                  <% end %>
                </p>
              </div>
            </div>
            <div class="col-12">
              <div class="infos">
                <h3 class="titre sous-titre text-grenat">date de naissance</h3>
                <p class="info"><%= Time.at(@player.birthday.to_time.to_i).strftime '%d.%m.%y' %></p>
                <h3 class="titre sous-titre text-grenat">nationalité</h3>
                <p class="info"><%= @player.nationality %></p>
                <h3 class="titre sous-titre text-grenat">Équipe</h3>
                <p class="info">1ère équipe</p>
                <!--                <h3 class="titre sous-titre text-grenat">Lorem Ipsum</h3>
                                <p class="info">Lorem Ipsum</p>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-12">
          <div class="row">
            <div class="col-12">
              <h3 class="titre text-grenat text-l">Statistiques</h3>
              <table class="table table-striped table-joueur">
                <thead class="head">
                <tr>
                  <td>saison</td>
                  <td>mj</td>
                  <td>tit</td>
                  <td>min</td>
                  <td>cj</td>
                  <td>cr</td>
                  <td>buts</td>
                  <td>ass.</td>
                </tr>
                <thead>
                <tbody>

                <tr>
                  <td>2017-2018</td>
                  <td>
                    <%= @player.gettotalmatches() %>
                  </td>
                  <td><%= @player.gettotaltits() %></td>
                  <td><%= @player.gettotaltime() %></td>
                  <td><%= @player.gettotalcj() %></td>
                  <td><%= @player.gettotalcr() %></td>
                  <td><%= @player.gettotalbuts() %></td>
                  <td><%= @player.gettotalassists() %></td>
                </tr>

                <% if params[:alias] == 'jeremy-frick' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>24</td>
                      <td>24</td>
                      <td>2123</td>
                      <td>1</td>
                      <td>1</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2014-2015</td>
                      <td>17</td>
                      <td>17</td>
                      <td>1530</td>
                      <td>2</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'david-gonzalez' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>13</td>
                      <td>12</td>
                      <td>1116</td>
                      <td>1</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2015-2016</td>
                      <td>10</td>
                      <td>10</td>
                      <td>900</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2012-2013</td>
                      <td>25</td>
                      <td>25</td>
                      <td>2250</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2010-2011</td>
                      <td>30</td>
                      <td>30</td>
                      <td>2700</td>
                      <td>1</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2009-2010</td>
                      <td>29</td>
                      <td>29</td>
                      <td>2530</td>
                      <td>0</td>
                      <td>1</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2008-2009</td>
                      <td>21</td>
                      <td>21</td>
                      <td>1877</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'liassine-cadamuro' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>30</td>
                      <td>28</td>
                      <td>2574</td>
                      <td>5</td>
                      <td>1</td>
                      <td>4</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>2015-2016</td>
                      <td>8</td>
                      <td>6</td>
                      <td>581</td>
                      <td>1</td>
                      <td>1</td>
                      <td>4</td>
                      <td>0</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'william-le-pogam' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>29</td>
                      <td>27</td>
                      <td>2406</td>
                      <td>7</td>
                      <td>0</td>
                      <td>1</td>
                      <td>1</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'christopher-mfuyi' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>31</td>
                      <td>31</td>
                      <td>2745</td>
                      <td>5</td>
                      <td>0</td>
                      <td>1</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>2015-2016</td>
                      <td>27</td>
                      <td>25</td>
                      <td>2373</td>
                      <td>4</td>
                      <td>0</td>
                      <td>1</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2014-2015</td>
                      <td>26</td>
                      <td>26</td>
                      <td>2340</td>
                      <td>3</td>
                      <td>0</td>
                      <td>1</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>2013-2014</td>
                      <td>22</td>
                      <td>19</td>
                      <td>1654</td>
                      <td>2</td>
                      <td>1</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2012-2013</td>
                      <td>25</td>
                      <td>25</td>
                      <td>2173</td>
                      <td>2</td>
                      <td>1</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2009-2010</td>
                      <td>18</td>
                      <td>15</td>
                      <td>1429</td>
                      <td>1</td>
                      <td>0</td>
                      <td>1</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2007-2008</td>
                      <td>3</td>
                      <td>0</td>
                      <td>31</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'anthony-sauthier' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>34</td>
                      <td>34</td>
                      <td>2958</td>
                      <td>5</td>
                      <td>1</td>
                      <td>3</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td>2015-2016</td>
                      <td>17</td>
                      <td>17</td>
                      <td>1530</td>
                      <td>1</td>
                      <td>0</td>
                      <td>1</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td>2014-2015</td>
                      <td>34</td>
                      <td>33</td>
                      <td>2980</td>
                      <td>7</td>
                      <td>0</td>
                      <td>3</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>2013-2014</td>
                      <td>18</td>
                      <td>17</td>
                      <td>1530</td>
                      <td>10</td>
                      <td>0</td>
                      <td>1</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td>2008-2009</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'florian-berisha' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>28</td>
                      <td>15</td>
                      <td>1365</td>
                      <td>6</td>
                      <td>0</td>
                      <td>6</td>
                      <td>4</td>
                    </tr>
                    <tr>
                      <td>2015-2016</td>
                      <td>8</td>
                      <td>8</td>
                      <td>635</td>
                      <td>1</td>
                      <td>1</td>
                      <td>3</td>
                      <td>6</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'bruno-caslei' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>7</td>
                      <td>3</td>
                      <td>288</td>
                      <td>2</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2015-2016</td>
                      <td>14</td>
                      <td>7</td>
                      <td>775</td>
                      <td>0</td>
                      <td>1</td>
                      <td>1</td>
                      <td>2</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'fabry-castro' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>14</td>
                      <td>14</td>
                      <td>1246</td>
                      <td>1</td>
                      <td>0</td>
                      <td>1</td>
                      <td>0</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'boris-cespedes' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>14</td>
                      <td>12</td>
                      <td>1141</td>
                      <td>4</td>
                      <td>1</td>
                      <td>2</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td>2015-2016</td>
                      <td>3</td>
                      <td>2</td>
                      <td>140</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td>2014-2015</td>
                      <td>5</td>
                      <td>3</td>
                      <td>238</td>
                      <td>0</td>
                      <td>0</td>
                      <td>1</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2013-2014</td>
                      <td>10</td>
                      <td>4</td>
                      <td>472</td>
                      <td>0</td>
                      <td>0</td>
                      <td>1</td>
                      <td>0</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'marco-delley' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>26</td>
                      <td>18</td>
                      <td>1572</td>
                      <td>5</td>
                      <td>0</td>
                      <td>2</td>
                      <td>5</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'ousmane-doumbia' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>22</td>
                      <td>16</td>
                      <td>1506</td>
                      <td>1</td>
                      <td>0</td>
                      <td>0</td>
                      <td>4</td>
                    </tr>
                    <tr>
                      <td>2015-2016</td>
                      <td>15</td>
                      <td>12</td>
                      <td>1126</td>
                      <td>3</td>
                      <td>0</td>
                      <td>2</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td>2014-2015</td>
                      <td>22</td>
                      <td>15</td>
                      <td>1440</td>
                      <td>4</td>
                      <td>0</td>
                      <td>2</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td>2013-2014</td>
                      <td>28</td>
                      <td>28</td>
                      <td>2487</td>
                      <td>4</td>
                      <td>0</td>
                      <td>4</td>
                      <td>1</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'mirsad-hasanovic' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>25</td>
                      <td>15</td>
                      <td>1406</td>
                      <td>6</td>
                      <td>0</td>
                      <td>0</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>2015-2016</td>
                      <td>22</td>
                      <td>19</td>
                      <td>1471</td>
                      <td>3</td>
                      <td>0</td>
                      <td>3</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2014-2015</td>
                      <td>11</td>
                      <td>10</td>
                      <td>847</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>2013-2014</td>
                      <td>15</td>
                      <td>2</td>
                      <td>406</td>
                      <td>1</td>
                      <td>0</td>
                      <td>1</td>
                      <td>0</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'alexandre-alphonse' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>31</td>
                      <td>27</td>
                      <td>2279</td>
                      <td>7</td>
                      <td>0</td>
                      <td>6</td>
                      <td>4</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'jean-pierre-nsame' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>31</td>
                      <td>31</td>
                      <td>2748</td>
                      <td>4</td>
                      <td>0</td>
                      <td>23</td>
                      <td>6</td>
                    </tr>
                <% end %>
                <% if params[:alias] == 'matias-vitkieviez' %>
                    <tr>
                      <td>2016-2017</td>
                      <td>30</td>
                      <td>24</td>
                      <td>1917</td>
                      <td>6</td>
                      <td>0</td>
                      <td>3</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <td>2015-2016</td>
                      <td>29</td>
                      <td>29</td>
                      <td>2446</td>
                      <td>7</td>
                      <td>0</td>
                      <td>6</td>
                      <td>7</td>
                    </tr>
                    <tr>
                      <td>2012-2013</td>
                      <td>15</td>
                      <td>13</td>
                      <td>1195</td>
                      <td>3</td>
                      <td>0</td>
                      <td>3</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td>2011-2012</td>
                      <td>16</td>
                      <td>14</td>
                      <td>1181</td>
                      <td>4</td>
                      <td>0</td>
                      <td>5</td>
                      <td>4</td>
                    </tr>
                    <tr>
                      <td>2010-2011</td>
                      <td>28</td>
                      <td>23</td>
                      <td>1963</td>
                      <td>3</td>
                      <td>0</td>
                      <td>11</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td>2009-2010</td>
                      <td>16</td>
                      <td>9</td>
                      <td>1006</td>
                      <td>4</td>
                      <td>0</td>
                      <td>0</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>2008-2009</td>
                      <td>22</td>
                      <td>21</td>
                      <td>1850</td>
                      <td>3</td>
                      <td>1</td>
                      <td>7</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>2007-2008</td>
                      <td>27</td>
                      <td>26</td>
                      <td>2255</td>
                      <td>10</td>
                      <td>0</td>
                      <td>7</td>
                      <td>6</td>
                    </tr>
                <% end %>
                <tfoot>
              </table>
            </div>
            <div class="col-12">
              <h3 class="titre text-grenat text-l">Parcours professionel</h3>
              <p class="parcours"><%= raw @player.getbrs(@player.sportactivity_archive) %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 nodisplaymobile">
      <h3 class="titre text-grenat text-l">News</h3>
      {module tags_<%= params[:alias] %>}
    </div>
  </div>
  <div class="row" style="margin-top: 75px;">
    <div class="col-xl-12 col-lg-12 ">
      <h3 class="titre text-grenat text-l">Galerie</h3>
      {module galerie_<%= params[:alias] %>}
    </div>
  </div>
</div>

<% end %>