<!DOCTYPE html>
<html>
<head>
  <title>SFCadmin</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script>
$(document).on('show.bs.modal','#theModal', function (e) {
    var go;
    if(e.relatedTarget.href == undefined)
        go = e.relatedTarget;
    else
        go = e.relatedTarget.href;
    $(this).find('.modal-body').load(go);
});


$( document ).ready(function() {

    $('body').on('click','span[rel="modal"]', function(e){
        $("#theModal").modal('toggle', $(this).attr('href'));
    });

});

  </script>
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("logo.png", size: "30") %></a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">People</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <%= link_to 'Tous', users_path, :class => "dropdown-item" %>
              <a class="dropdown-item" href="<%= users_path('premiere') %>">Première</a>
              <% if( !current_user.isplayer(0) )  %>

              <a class="dropdown-item" href="<%= users_path('staff') %>">Staff</a>
              <%    end %>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Académie</h6>
              <a class="dropdown-item" href="<%= users_path('m21') %>">M21</a>
              <a class="dropdown-item" href="<%= users_path('m18') %>">M18</a>
              <a class="dropdown-item" href="<%= users_path('m16') %>">M16</a>
              <a class="dropdown-item" href="<%= users_path('m15') %>">M15</a>
              <a class="dropdown-item" href="<%= users_path('fe14') %>">FE14</a>
              <a class="dropdown-item" href="<%= users_path('fe13') %>">FE13</a>
              <a class="dropdown-item" href="<%= users_path('fe12') %>">FE12</a>
              <a class="dropdown-item" href="<%= users_path('fe11') %>">FE11</a>
              <a class="dropdown-item" href="<%= users_path('fc10') %>">FC10</a>
              <a class="dropdown-item" href="<%= users_path('fc9') %>">FC9</a>
              <a class="dropdown-item" href="<%= users_path('fc8') %>">FC8</a>
              <a class="dropdown-item" href="<%= users_path('fc7') %>">FC7</a>
            </div>
          </li>
          <% if current_user.canrole == 'premiere' || current_user.isadmin() %>
          <li class="nav-item">
            <%= link_to 'Calendar', calendar_index_path, :class => 'nav-link' %>
          </li>
          <% end %>
          <% if  current_user.isadmin() %>
          <li class="nav-item">
            <%= link_to 'Events', events_path, :class => 'nav-link' %>
          </li>
          <% end %>
      <% else %>
          <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
          </li>
          <li class="nav-item">
          <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
          </li>
      <% end %>
    </ul>

    <ul class="form-inline my-2 my-md-0">
      <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="<%= edit_user_registration_path %>" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edit account</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="<%= edit_user_registration_path %>">Mot de passe</a>
              <a class="dropdown-item" href="<%= user_path(current_user.id) %>">Profil</a>
            </div>
          </li>
          <!--<li class="nav-item">-->
            <%=
              # link_to 'Edit account', edit_user_registration_path, :class => 'nav-link'
            %>
          <!--</li>-->
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
          </li>
          <span class="nav-link" style="color: grey;">(<%= current_user.email %>) </span>

      <% end %>
    </ul>
  </div>
</nav>

<div class="container">
  <%
    # if notice
  %>
      <!--<p class="alert alert-success"><%= notice %></p>-->
  <%
    # end
  %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>


  <%= yield %>

</div><!-- /.container -->

</body>
</html>